{% extends 'admin/base.html.twig' %}

{% block title %}Administation des utilisateurs{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">Administration des utilisateurs</h1>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Avatar</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td><img src="{{ user.picture }}" alt="{{ user.fullName }}" class="avatar-medium"></td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a href="{{ path('admin_users_delete', {'id': user.id}) }}" class="btn btn-outline-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include '/admin/partials/pagination.html.twig' with {'route' : 'admin_users_index'} %}
    </div>
{% endblock %}
