{% extends '/admin/base.html.twig' %}

{% block title %}Administration des réservations!{% endblock %}

{% block body %}
    <h1 class="my-5">Administration des réservations</h1>
    
    <div class="container-fluid">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Visiteur</th>
                    <th>Annonce</th>
                    <th>Durée</th>
                    <th>Montant</th>
                    <th>Actions</th>
                </tr>
            </thead>
            
            <tbody >
            {% for booking in pagination.data %}
                <tr>
                    <td>{{ booking.id }}</td>
                    <td>{{ booking.createdAt | date('d/m/Y H:i') }}</td>
                    <td>
                        <img src="{{ booking.booker.picture }}" alt="{{ booking.booker.fullName }}" class="avatar avatar-mini">
                        {{ booking.booker.fullName }}
                    </td>
                    <td>{{ booking.ad.title }}</td>
                    <td> <span class="badge badge-dark">{{ booking.duration }} jours</span> </td>
                    <td>{{ booking.amount }}&euro;</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-outline-primary btn-sm" onclick="location.href='{{ path('admin_bookings_edit', {'id': booking.id}) }}'">
                                <i class="fas fa-pen"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger btn-sm" onclick="location.href='{{ path('admin_bookings_delete', {'id': booking.id}) }}'">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ pagination.display }}
    </div>
{% endblock %}
