{% extends 'admin/base.html.twig' %}

{% block title %}Administration des commentaires{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">Gestion des commentaires</h1>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Auteur</th>
                    <th>Commentaire</th>
                    <th>Note</th>
                    <th>Annonce</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for comment in comments %}
                    <tr>
                        <td>{{ comment.id }}</td>
                        <td>{{ comment.createAt | date('d/m/Y H:i:s') }}</td>
                        <td>
                            <img class="avatar avatar-mini" src="{{ comment.author.picture }}" alt="{{ comment.author.fullName }}">
                            {{ comment.author.fullName }}
                        </td>
                        <td>{{ comment.content }}</td>
                        <td class="text-center">
                            <span class="badge badge-dark rounded">{{ comment.rating }}</span>
                        </td>
                        <td>{{ comment.ad.title }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-outline-primary btn-sm" onclick="location.href='{{ path('admin_comments_edit', {'id': comment.id}) }}'">
                                    <i class="fas fa-pen"></i>
                                </button>
                                <button type="button" class="btn btn-outline-danger btn-sm" onclick="location.href='{{ path('admin_comments_delete', {'id': comment.id}) }}'">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'admin/partials/pagination.html.twig' with {'route' : 'admin_comments_index'} %}
    </div>
{% endblock %}
